.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: gray;
}

.nav-item > ul{
    display: flex;
    list-style-type: none;
    
    color: aliceblue;
    
}
.nav-item > ul>li{
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-top: 5px;

    
}
.nav-item > ul>li:hover{
    color:rgb(170, 168, 168);
    
}

.logo{
   width: 80px; 
   height: 100%; 
    
    
}
.card{
    width: 170px;
    height: 90%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
}

.card>img{
    width: 100%;
    height: 50%;

}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
.Search-Container{
    display: flex;
    justify-content: last baseline;
     
}
.shimmer-card {
    width: 200px;
    height: 200px;
    background-color:lightgray;
    margin: 20px;
    display: flex;
}
.restaurantMenu-img{
    height: 300px;
    width: 300px;
}
.restrocard-link{
    text-decoration: none;
    color: black;
    height: 170px;
    height: 400px;
}
.li-link{
    text-decoration: none;
    color: white;
}
.loggin-button{
    border-radius: 100px;
    height: 80%;
    text-align: center;
    margin-top: 30px;
}